table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	line-height: 1.5;
}

thead {
	display: table-header-group;
	color: #76b900
}

thead td {
	font-family: Segoe UI, Lucida Sans, Lucida Sans Unicode, Arial Unicode MS, Arial, sans-serif;
	text-shadow: 0 1px 2px black;
	font-size: 1.17em;
	font-weight: bold;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tbody td:first-of-type {
	text-align: left;
}

td.zero {
	color: #888;
}

tbody tr {
	padding-top: 1em;
	padding-bottom: 1em;
}

tbody tr:nth-of-type(even) {
    background-color: rgb(34, 34, 34);
}

tbody tr:hover {
    background-color: rgba(125,205,0,0.5);
}

td a {
    color: inherit;
	display: block;
}

td:hover a {
	text-decoration: underline;
}
